<!DOCTYPE html>
<html lang="en" ng-app="paris-connection-helper">
<head>
<meta charset="UTF-8" />
<link href="css/mobiscroll.core.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="css/parisConnectionHelper.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.core.js"></script>
<script type="text/javascript" src="js/mobiscroll.select.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/parisConnectionApp.js"></script>
<title>Paris Connection scoring helper</title>
</head>
<body ng-controller="MainController">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">
			Number of players <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li ng-repeat="num in numPlayersChoice"><a href="#" ng-click="$parent.numPlayers = num;">{{num}}</a></li>
		</ul>
	</div>
	
	<div>
		<div class="row">
			<div class="col-xs-6 text-center">
				<strong>Share values</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1 color-{{color}}" ng-repeat="color in colors"><select ng-model="companyShareValues[color]"
				ng-options="item.key as item.value for item in items"
				class="scroller" name="{{color}}"></select></div>
		</div>
	</div>
	<div ng-repeat="player in players" ng-show="$index < numPlayers">
		<div class="row">
			<div class="col-xs-3 text-right top-separator">
				<strong>{{player.name}}</strong>
			</div>
			<div class="col-xs-3 text-left top-separator">
				<strong>{{ playerTotalScore(player) }} pts</strong>
			</div>
		</div>
		<div class="row player-row">
			<div class="col-xs-1 color-{{color}}" ng-repeat="color in colors"><select ng-model="player.shares[color]"
				ng-options="item.key as item.value for item in items"
				class="scroller" name=""></select></div>
		</div>
	</div>

</body>
</html>